# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# LangGraph
.langgraph_api
langgraph_server.log
*.pckl

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore
